/**
 * Colors
 */
$color-secondary = #f36403;

/**
 * Helpers
 */
.light { font-weight: 300; }
.bold { font-weight: bold; }
.xbold { font-weight: 800; }
.secondary { color: $color-secondary; }
.text-center { text-align: center; }



/**
 * Grid
 */
.col-center {
  margin:0 auto;
  float:none;
}