@import "_helpers";
@import "_typography";


/**
 * ChartJS
 *
 */ 
#chartjs-container {}

.chartjs-container {
  margin:50px auto;
  position: relative;
  width:100%;
  position: relative;
}

.chartjs-inner {
  position: relative;
  width:100%;
  overflow:hidden; 
}
  
#chartjs-chart-1 {}
#chartjs-chart-2 {}

// <canvas>
.chartjs-canvas {
  width: calc(100% + 16px) !important;
  width: 100%;
  margin-left:-12px;
    
  background-color: rgba(250, 210, 162, 1.0);
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}





/**
 * ChartJS Tooltips
 */ 
.chartjs-tooltips {
  position:absolute;
  top:0;left:0;
  width:100%;height:0px;
  
  // temp
  .chartjs-tooltips__tooltip {
    position: absolute;
    
    // offset left to start
    left: -100%;
    
    // center horiz
    top:-50px;  
    height:50px;
    
    // width:50px;
    // margin-left:-25px;
    
    width:80px;
    margin-left:-40px;
    
    transition: all 150ms ease-in-out;
    
    background-color:rgba(0,0,0,0.8);
  }
} 

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  pointer-events: none;
  
  transition: all .1s ease;
  transform: translate(-50%, 0);
}
.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}






/**
 * Section
 */ 
.section {
  width:100%;
  padding:60px 0;
  
  &.section--content {
    background-color: #efefef;
    background-image: radial-gradient(circle 980px at 55.83% 14.43%, transparent 0%, rgba(0, 90, 164, 0.01) 100%, rgba(36, 43, 51, 0.01) 100%);
  }
}